body {
  font-family: "Poppins", sans-serif;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.income,
.expense,
.expense-and-income {
  align-items: center;
  padding: 10px;
  /* float: right; */
}

.income-real {
  background: lightgreen;
}

.expense-real {
  background: red;
}

.income-input,
.expense-input {
  width: 210px;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-radius: 10px;
}

.income-description,
.expense-description {
  width: 210px;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #eee;
  border-radius: 10px;
}

.submit-income,
.submit-expense {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
